
<section class="py-6" id="promociones">
  <div class="container mx-auto px-8">
    <div class="text-center mb-12">
      <h2 class="text-xl md:text-2xl font-bold text-grey-900 mt-2">PROMOCIONES ESPECIALES DEL BOTANERO</h2>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2  gap-4 my-4">
       @for(oferta of ofertas(); track oferta.title) {
        <a href="#" class="flex flex-col items-center bg-[#1C1C1C] bg-gradient-to-b from-blue-500/10 to-transparent text-white p-6 border border-default rounded-md shadow-xs md:flex-row md:max-w-xl md:flex-row md:max-w-xl">
          @if(oferta.is_image){
            @if(oferta.img.length){
              <img class="object-cover w-full rounded-base h-64 md:h-auto md:w-48 mb-4 md:mb-0" [src]="oferta.img" alt="">
            }@else {
              <img class="object-cover w-full rounded-base h-64 md:h-auto md:w-48 mb-4 md:mb-0" src="img/botanas_hero.jpg" alt="">
            }
          } 
          <div class="flex flex-col justify-between md:p-4 leading-normal">
            <div class="mb-6">
              <span class="bg-white/10 text-orange-400 text-xs font-bold px-3 py-1 rounded-full">{{ oferta.tag }}</span>
            </div>
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-heading">{{oferta.title}}</h5>
              <p class="mb-6 text-body">{{oferta.description}}</p>
            <div class="flex items-end justify-between">
            @if (oferta.price) {
              <div class="flex items-baseline space-x-2">
                <span class="text-5xl font-bold">${{ oferta.price }}</span>
                @if (oferta.oldPrice) {
                  <span class="text-2xl text-gray-500 line-through">${{ oferta.oldPrice }}</span>
                }
              </div>
            } @else if(oferta.priceText) {
              <span class="text-5xl font-bold">{{ oferta.priceText }}</span>
            }
            </div>
          </div>
        </a>
      }
    </div>
<!--
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
      @for(oferta of ofertas(); track oferta.title) {
        <div class="bg-[#1C1C1C] text-white rounded-3xl p-8 flex flex-col relative overflow-hidden bg-gradient-to-b {{oferta.bgClass}}">
          <div class="mb-6">
            <span class="bg-white/10 text-orange-400 text-xs font-bold px-3 py-1 rounded-full">{{ oferta.tag }}</span>
          </div>
          <h3 class="text-3xl font-bold mb-3">{{ oferta.title }}</h3>
          <p class="text-gray-400 mb-8 flex-grow">{{ oferta.description }}</p>
          <div class="flex items-end justify-between mb-8">
            @if (oferta.price) {
              <div class="flex items-baseline space-x-2">
                <span class="text-5xl font-bold">${{ oferta.price }}</span>
                @if (oferta.oldPrice) {
                  <span class="text-2xl text-gray-500 line-through">${{ oferta.oldPrice }}</span>
                }
              </div>
            } @else if(oferta.priceText) {
              <span class="text-5xl font-bold">{{ oferta.priceText }}</span>
            }
          </div>

        </div>
      }
    </div> -->
    <div class="text-center mt-12">
      <a href="#" class="text-orange-500 font-semibold hover:text-orange-600 transition-colors">
        Ver todas las promociones
        <span class="ml-1">&rarr;</span>
      </a>
    </div>
  </div>
</section>

