<section class="py-8 bg-white mb-8">
  <div class="container mx-auto px-1">
    <div class="flex justify-center">

        <div class="bg-[#1C1C1C] text-white rounded-3xl py-8 px-10 flex flex-col justify-between">
          <div>
            <div class="flex justify-center text-2xl space-x-1  text-orange-400 ">
             NUESTROS HORARIOS
            </div>
            <div class="bg-green-500 font-bold rounded-sm py-2 px-4" *ngIf="status">¡Abierto! Estamos atendiendo.</div>
            <div class="text-grey-100 font-bold bg-red-500 rounded-sm py-2 px-4" *ngIf="!status" >Cerrado. por favor verifique nuestros horarios</div>
          </div>
          <div class="flex flex-col gap-1 mt-6">
            <div class="grid grid-cols-3 gap-1">
                <div class="font-bold flex justify-center">Día</div>
                <div class="font-bold flex justify-center">Apertura</div>
                <div class="font-bold flex justify-center">Cierre</div>
                @for (day of dias; track $index) {
                  <div class="flex justify-start">{{day.name}}</div>
                  <div class="flex justify-end">{{formatHourTo12Hour(day.apertura)}}</div>
                  <div class="flex justify-end">{{formatHourTo12Hour(day.cierre)}}</div>
                }
            </div>
          </div>
        </div>

    </div>
  </div>
</section>
