
<section class="py-8" id="carta">
  <div class="container mx-auto px-6">
    <div class="text-center mb-4">
       <h2 class="text-2xl md:text-5xl font-bold text-gray-900 mt-2">Platillos y bebidas a la carta</h2>
      <p class="text-orange-500 font-semibold text-sm tracking-wider">Disfruta de lo mejor de nuestra cocina con el toque especial de la casa</p>
    </div>
    <h2 class="text-xl md:text-2xl font-bold text-gray-100 mt-2 p-3 mb-3 rounded-lg bg-blue-500" >Barra fría</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      @for(item of botanas_frias(); track item.name) {
        <div class="bg-white rounded-2xl shadow-lg overflow-hidden transform hover:-translate-y-2 transition-transform duration-300">
          <img [src]="item.imageUrl" alt="{{ item.name }}" width="600" height="500" class="w-full h-64 object-cover">
          <div class="p-6">
            <div class="flex flex-col justify-between items-start mb-2">
              <h3 class="text-2xl font-bold text-gray-800">{{ item.name }}</h3>
              <p class="text-2xl font-bold text-orange-500">${{ item.price }}</p>
            </div>
            <p class="text-gray-600">{{ item.description }}</p>
          </div>
        </div>
      }
    </div>


    <h2 class="text-xl md:text-2xl font-bold text-gray-100 mt-8 p-3 mb-3 rounded-lg bg-orange-500" >Barra Caliente</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      @for(item of botanas_calientes(); track item.name) {
        <div class="bg-white rounded-2xl shadow-lg overflow-hidden transform hover:-translate-y-2 transition-transform duration-300">
          <img [src]="item.imageUrl" alt="{{ item.name }}" width="600" height="500" class="w-full h-64 object-cover">
          <div class="p-6">
            <div class="flex flex-col justify-between items-start mb-2">
              <h3 class="text-2xl font-bold text-gray-800">{{ item.name }}</h3>
              <p class="text-2xl font-bold text-orange-500">${{ item.price }}</p>
            </div>
            <p class="text-gray-600">{{ item.description }}</p>
          </div>
        </div>
      }
    </div>

    <h2 class="text-xl md:text-2xl font-bold text-gray-100 mt-8 p-3 mb-3 rounded-lg bg-pink-500" >Para los más pequeños (menú infantil)</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      @for(item of menu_infantil(); track item.name) {
        <div class="bg-white rounded-2xl shadow-lg overflow-hidden transform hover:-translate-y-2 transition-transform duration-300">
          <img [src]="item.imageUrl" alt="{{ item.name }}" width="600" height="500" class="w-full h-64 object-cover">
          <div class="p-6">
            <div class="flex flex-col justify-between items-start mb-2">
              <h3 class="text-2xl font-bold text-gray-800">{{ item.name }}</h3>
              <p class="text-2xl font-bold text-orange-500">${{ item.price }}</p>
            </div>
            <p class="text-gray-600">{{ item.description }}</p>
          </div>
        </div>
      }
    </div>
    <h2 class="text-xl md:text-2xl font-bold text-gray-100 mt-8 p-3 mb-3 rounded-lg bg-green-500" >Bebidas (sin botana)</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      @for(item of menu_bebidas(); track item.name) {
        <div class="bg-white rounded-2xl shadow-lg overflow-hidden transform hover:-translate-y-2 transition-transform duration-300">
          <img [src]="item.imageUrl" alt="{{ item.name }}" width="600" height="500" class="w-full h-64 object-cover">
          <div class="p-6">
            <div class="flex flex-col justify-between items-start mb-2">
              <h3 class="text-2xl font-bold text-gray-800">{{ item.name }}</h3>
              <p class="text-2xl font-bold text-orange-500">${{ item.price }}</p>
            </div>
            <p class="text-gray-600">{{ item.description }}</p>
          </div>
        </div>
      }
    </div>
  </div>
</section>

